<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            p {text-align: center;}
            form {text-align: center;}
            h1 {text-align: center;}
            h3 {text-align: center}
        </style>
        <meta charset="UTF-8">
        <title>Stock Notebook</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <!-- navigation bar -->
    <nav class="navbar navbar-expand">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/"><img class="logo" src="/static/stonks.png" alt="stonks"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my-list">My List</a>
                <li class="nav-item">
                    <a class="nav-link" href="/stock_table">Stock Table</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1>Stock Market Notebook</h1> <br>
        <h3>Find up-to-date prices and market data for any stock!</h3> <br> 
        <p>Enter up to five stock symbols (all-caps) one at a time (you must enter a stock symbol before viewing your list). Click the "Clear List" button to clear your list. <br>
        Click the "See Table" button or "Stock Table" tab to see the table for the last stock you entered. <br>
        After you see the table of a stock, use the back button of your browser to return to your list or the home page. </p><br>
        <form method="post">
            <label for="stock">Enter Symbol:</label>
            <input type="text" name="stock">
            <button type="submit"> Add to List</button>
            <a href="http://127.0.0.1:5000/stock_table">See Table</a>
            <br />
        </form> <br>
        <form method='get'>
            <button type="submit">Clear List</button>
        </form>
    </body>
</html>