<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel='stylesheet' href='/static/styles.css' />
        <title>My List</title>
    </head>
    <body>
                <!-- navigation bar -->
    <nav class="navbar navbar-expand">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/"><img class="logo" src="/static/stonks.png" alt="stonks"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my-list">My List</a>
                </li> 
            </ul>
        </div>
    </nav>
        <p>My List Market Data</p>
        <form method="post">
            <label for="stocks">My List:</label>
            <br />
            <button type = 'submit'> {{request_list[0][0]}} </button> <br><br><br>
            <button type = 'submit'> {{request_list[1][0]}} </button> <br><br><br>
            <button type = 'submit'> {{request_list[2][0]}} </button> <br><br><br>
            <button type = 'submit'> {{request_list[3][0]}} </button> <br><br><br>
            <button type = 'submit'> {{request_list[4][0]}} </button>
            <!-- <a href="http://127.0.0.1:5000/stock_table" class="button">{{stocks[0]}}</a> <br>
            <a href="http://127.0.0.1:5000/stock_table" class="button">{{stocks[1]}}</a> <br>
            <a href="http://127.0.0.1:5000/stock_table" class="button">{{stocks[2]}}</a> <br>
            <a href="http://127.0.0.1:5000/stock_table" class="button">{{stocks[3]}}</a> <br>
            <a href="http://127.0.0.1:5000/stock_table" class="button">{{stocks[4]}}</a> <br>
            <a href="http://127.0.0.1:5000/stock_table" class="button">{{stocks[5]}}</a> <br> -->
        </form>
    </body>
</html>